@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eed5bd;
}


#root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

.logo-link{
    color: #fff;
    font-family: "Kolker Brush", cursive;
    text-decoration: none !important
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem
}

.productos-h1 {
    color : #000
}

.logo {
  width: 1.5rem
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to right, #793d0cd8, #350b04);
;}

.menu {
    display: flex;
    list-style-type: none;
    gap : 0.7rem;
    font-size: 1.5rem;
    align-items: center;
}


.nav-link {
    text-decoration: none;
    color: #fff
}

.active {
    font-weight: bold;
    text-decoration: underline;
}


.productos {
    display: grid;
    place-items: center;
    min-height: 50vh;
}

.producto { 
    display: flex;
    flex-direction: column;
    background-color: #793d0cd8;
    border-radius: .5rem;
    padding: 1rem;
}

.producto-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.carrito {
    font-size: 1.2rem;
    color: #fff;
}

.item-list-container{
    margin: 1rem
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem
}

.producto-precio {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}

.boton-agregar {
    border: 0;
    background-color:#40613b;
    padding: 0.30rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.producto-info{
    padding: 0.30rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    margin-bottom: 0.5rem;
}

.producto-descripcion {
    margin-bottom: 1rem;
}


.producto-detalles {
  flex: 1;   
  background-color: #eed5bd;
  padding: 1rem;
}

.individual {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50% ;
  flex: 1;   
  padding: 1rem;

}

.individual h2 {
  margin: auto;
}

.individual img {
  margin: auto;
  width: 40%;
}

.individual button{
  margin: auto;
 width: 50%;
}
/* FORMULARIO CONTACTO
*/

.contacto-titulo {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}
form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 500px;
    margin: 150px auto;
  }
  
  .espacios-div {
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000;
    transition: background-color 0.5s;
  }
  


  /* FOOTER */


  .footer {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    margin-bottom: 0;
    background: linear-gradient(to right, #793d0cd8, #350b04);
  }
  
  .footer-p {
    font-family: "Kolker Brush", cursive;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
  }
  
  .footer-ul {
    display: flex;
    list-style-type: none;
   
  }
  
  .footer-redes {
    color: #fff;
    margin-inline: 1rem;
    font-size: 1.3rem;
  }

  .footer-redes a{
    color: #fff;
  }