@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eed5bd;
}


#root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

.logo-link{
    color: #fff;
    font-family: "Kolker Brush", cursive;
    text-decoration: none !important
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem
}

.productos-h1 {
    color : #000
}

.logo {
  width: 1.5rem
}

.header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to right, #64493f, #722315);
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 2rem
;}



.menu {
   font-family: sans-serif;
    display: flex;
    list-style-type: none;
    gap : 1rem;
    font-size: 1.5rem;
    align-items: center;
}


.nav-link {
    text-decoration: none;
    color: #fff
}

.active {
    font-weight: bold;
    text-decoration: underline;
    color: #f5b048;
}

.titulo-categoria {
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #64493f;
}

.productos {
    display: grid;
    place-items: center;
    min-height: 50vh;
}

.producto { 
  height: 430px;
  width: 305px;
  border-radius: 10%;
  box-shadow: 6px 6px 20px #0000008c;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d9b384;
  padding: 1rem;
}

.producto::before{
  content: "";
  position: absolute;
  height: 490px;
  width: 360px;
  background-image: conic-gradient(#f8f8f0 1deg, transparent 60deg);
  transition: none; 
}

@keyframes rotar{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(-360deg);
  }
}

.producto:hover::before {
  animation: rotar 2s linear infinite;
}


.producto::after{
  content: "";
  position: absolute;
  height: 420px;
  width: 295px;
  background-color: #d9b384;
  border-radius: 10%;
  box-shadow: inset 6px 6px 20px #0000008c;;

}



.img-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.4rem;
  width: 200px;
  height: 150px;
  margin-bottom: 1rem;
  z-index: 2;
}

.producto-img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin: auto;
    z-index: 2;
}

.carrito {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.item-list-container{
  margin-inline: 20%;
  margin-top: 2.5rem;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: 1rem
}

.producto-precio {
  color: #64493f;
  font-family: "Quattrocento Sans", sans-serif;
    text-align: end;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
    z-index: 2;
}

.boton-agregar {
  font-family: "Quattrocento Sans", sans-serif;
    border: 0;
    background-color:#003148;
    padding: 0.30rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 2px solid #ffffff;
    z-index: 2;
}

.producto-info{
    font-family: "Quattrocento Sans", sans-serif;
    padding: 0.30rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    margin-bottom: 0.5rem;
    z-index: 2;
}

.producto-titulo {
  color: #64493f;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  z-index: 2;
}

.producto-descripcion {
  color: #64493f;
 font-size: 0.85rem;
  font-family: "Open Sans", sans-serif;
    flex: 1;
    text-align: center;
    z-index: 2;
}


.producto-detalles {
  flex: 1;   
  background-color: #eed5bd;
  padding: 1rem;
}


.contenedor-individual {
  margin: auto;
}

.producto-detalle-individual {
  margin-inline: 200px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-template-areas: 
    "titulo titulo titulo"
    "img img desc"
    "img img desc"
    "img img precio"
    "img img agregar";
}

.producto-titulo-individual {
  font-size: 45px;
  font-family: "Quattrocento Sans", sans-serif;
  grid-area: titulo;
  text-align: center;
  margin-bottom: 3rem;
}

.producto-img-individual {
  grid-area: img;
  width: 470px;
  margin: auto;
  border-radius: 1rem;
}

.boton-agregar-individual {
  grid-area: agregar;
  font-family: "Quattrocento Sans", sans-serif;
  background-color:#003148;
  padding: 0.30rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px solid #ffffff;
  font-size: 19px;
}

.producto-precio-individual {
  font-family: "Quattrocento Sans", sans-serif;
  grid-area: precio;
  font-size: 38px;
  text-align: center;
}

.producto-descripcion-individual {
  grid-area: desc;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}







/* CARRRITO
*/


.carrito-container {
  margin-top: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 600px;
  gap: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.producto-carrito {
  width: 100%;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.confirmar-compra {
  color: #fff;
  text-decoration: none;
}

.carrito-izquierda {
  width: 210px;
  text-align: center;
  border-bottom: 1px solid #000;
}

.carrito-derecha {
  margin-right: 10px;
  border-bottom: 1px solid #000;
}

.producto-carrito-nombre{
  margin-bottom: 6px;
}

.producto-carrito-cantidad{
  margin-bottom: 6px;
}

.producto-carrito-eliminar{
  margin-bottom: 6px;
}

.carrito-total {
  width: 100%;
  display: block;
  text-align: end;
  margin-right: 10px;
}

.container-opciones {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 10px;
}

.confirmar-compra{
  margin-bottom: 10px ;
}

/* FORMULARIO CONTACTO
*/

.contacto-titulo {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}
form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 500px;
    margin: 150px auto;
    border-radius: 1rem;
  }
  
  .espacios-div {
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 1rem;
  }
  
  button {
    padding: 10px;
    background-color: #003148;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
  }
  
  button:hover {
    background-color: #000;
    transition: background-color 0.5s;
  }
  

.form-checkout {
  gap: 1rem
}

.checkout-container{
  margin: auto;
}

.checkout-titulo {
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  color: #64493f;
}

.checkout-id {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 2rem;
  color: #64493f;
}

.img-checkout {
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: 325px;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.id {
  color: #050404;
  font-weight: bold;
  text-shadow: 0 0 5px #02a8f5, 0 0 5px #02a8f5, 0 0 5px #02a8f5;
}
  /* FOOTER */


  .footer {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    margin-bottom: 0;
    background: linear-gradient(to right, #64493f, #350b04);
  }
  
  .footer-p {
    font-family: "Kolker Brush", cursive;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
  }
  
  .footer-ul {
    display: flex;
    list-style-type: none;
   
  }
  
  .footer-redes {
    color: #fff;
    margin-inline: 1rem;
    font-size: 1.3rem;
  }

  .footer-redes a{
    color: #fff;
  }